<footer class="main-footer">
    <p>&COPY; 2022 - <a href="{{ path('accueil') }}" class="link">Laura Klerykowski</a> - Tous droits réservés - <a href="{{ path('mention') }}" class="link">Mentions légales</a></p>
</footer>