<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ controller_name }} - Laura Klerykowski{% endblock %}</title>
        <link rel="icon" href="{{ asset('/public/pictures/logo.ico') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
